---
const { filename } = Astro.props
---
<script is:inline src="https://www.geogebra.org/apps/deployggb.js"></script>
<script >  
    var params = {
            "filename": document.getElementById("ggb-element").dataset.filename,
            "appName": "3d",
            "width": 800,
            "height": 600,
            "enableRightClick": false,
        };
    var applet = new GGBApplet(params, true);
    window.addEventListener("load", function() { 
        applet.inject('ggb-element');
    });
</script>
<div id="ggb-element" data-filename={filename}></div> 